:root.theme-dark {
  --background: url(/images/cover-image-dark.png);
  --background-color: #000028;
  --text-background: #ff0070;
  --title-color: #db00ff;
  --color-text-primary: #f1b2ce;
  --decor-zone: #ff0070;
}
