.page {
  padding-inline: 10px;
  font-family: "IBM Plex mono";
  background-color: var(--background-color);
  background-image: var(--background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  align-items: start;
  padding-block: 75px 66px;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-zone);
  border-right: 1px solid var(--decor-zone);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-zone);
  border-left: 1px solid var(--decor-zone);
}

.header__decorative-label {
  position: absolute;
  top: 10px;
  right: 9px;
  color: var(--decor-zone);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
}

.header__decorative-label::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--decor-zone);
  background-color: var(--decor-zone);
  block-size: 9px;
  inline-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-end: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding-inline: 13px;
  color: var(--text-background);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  text-transform: lowercase;
  background: none;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 122, 40%);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--text-background);
}

.header__theme-menu-button_active {
  border: 1px solid var(--text-background);
  pointer-events: none;
}

.header__title {
  margin-block-end: 55px;
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--title-small-size);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--text-background);
}

.header__text {
  color: var(--color-text-secod);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--text-background);
}

.main {
  display: grid;
  gap: 50px;
  margin-block-start: 40px;
}

.section__title {
  color: var(--decor-zone);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
}

.main__section {
  display: grid;
  gap: 20px;
}

.block__attention {
  display: grid;
  gap: 20px;
}

.gallery__section {
  display: grid;
  gap: 10px;
}

.block-content {
  display: grid;
  gap: 10px;
}

.block__container {
  display: grid;
  gap: 20px;
}

.block-content__heading {
  color: var(--color-text-secod);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--text-background);
}

.block-content__text {
  color: var(--color-text-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.block-content__subheading {
  color: var(--color-text-secod);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  background-color: var(--text-background);
}

.block-content__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--text-background);
}

.block-content__link:hover {
  border-block-end: 1px solid var(--color-text-primary);
}

.block-content__link:focus {
  outline: none;
}

.block-content__link:focus-visible {
  border: 1px solid var(--color-text-primary);
}

.galery {
  display: grid;
  gap: 10px;
  margin: 0;
}

.gallery__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__text {
  color: var(--title-color);
  font-weight: 700;
  font-size: var(--title-small-size);
  line-height: 0.83%;
  text-shadow: 2px 2px 0 var(--text-background);
}

@media (width >= 768px) {
  .page {
    padding-inline: 20px;
  }

  .header {
    padding-block: 192px 243px;
  }

  .header__theme-menu {
    margin-block-end: 173px;
  }

  .header__title {
    margin-inline-start: -20px;
    margin-block-end: 162px;
    font-size: var(--title-large-size);
  }

  .header__text {
    justify-self: end;
    margin-inline-start: 364px;
  }

  .section__focus {
    grid-template-columns: 1fr 472px;
  }

  .section__title-focus {
    max-inline-size: 236px;
  }

  .main {
    gap: 80px;
    margin-block-start: 66px;
  }

  .gallery__section {
    gap: 20px;
  }

  .galery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .sunset-img {
    grid-column: 1/3;
  }

  .ice-cream-imng {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape-img {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .street-img {
    grid-column: 2/4;
  }

  .footer {
    margin-block-start: 54px;
  }

  .footer__text {
    font-size: var(--title-large-size);
  }
}

@media (width >= 1024px) {
  .header {
    padding-block: 20px 134px;
  }

  .main {
    margin-block-start: 60px;
  }

  .header__theme-menu {
    justify-self: center;
    margin-block-end: 273px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    margin-block-end: 114px;
  }

  .header__text {
    margin-left: 493px;
  }

  .section__title-focus {
    max-inline-size: 315px;
  }

  .section__focus {
    grid-template-columns: 1fr 648px;
  }

  .block__attention {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
  }

  .footer {
    margin-block-start: 60px;
  }
}
